@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<br />
<br />
<form action="Delete">
    <partial name="-_DeleteDetalisPartialView" />

 
    <div class="my-3">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-light">back to List</a>
    </div>
</form>
